nav {
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  min-width: 100%;
  border-color: var(--accent-color);
  margin: 0;
  padding: 0;
  box-sizing: content-box
}

nav>ul div,
nav>ul a {
  color: var(--navbar-text);
  font-size: 3vh;
}

nav ul.dropdown-open a {
  font-size: 2.5vh;
}

nav li {
  padding: 1vh;
}

nav li:has(div) {
  padding: 0;
}

nav ul.item-list li:hover {
  background-color: var(--accent-color);
}

nav ul.header {
  gap: 33%;
}

nav ul.header li {
  cursor: pointer;
}

nav ul.item-list {
  background-color: var(--navbar-bg);
}

nav li.list-item img {
  width: 4vh;
  height: 3vh;
  transform: translateX(-0.1em)
}

nav .dropdown {
  position: relative;
  padding: 1vh;
}

nav .dropdown span {
  display: flex;
  justify-self: center;
  height: fit-content;
  width: fit-content;
}

nav .dropdown-closed {
  display: none;
}

nav .dropdown-open {
  position: absolute;
  display: flex;
  flex-direction: column;
  min-width: 160px;
  z-index: 1;
  gap: 1vh;
  white-space: nowrap;
  width: max-content;
  background-color: var(--navbar-bg);
  padding: 0;
  margin: 1vh;
}

nav .dropdown-open li {
  width: 100%;
  box-sizing: border-box;
}

nav a {
  text-decoration: none;
}
